.header-section {
  height: 64px;
  position: relative;
  z-index: 11;
  &-main {
    height: 64px;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 5%);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    &-left {
      width: 234px;
      height: 100%;
      position: relative;
      &-icon {
        width: 16px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(0, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        & > div {
          width: 100%;
          height: 2px;
          background: #000;
          &:before, &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #000;
          }
          &:before {
            top: 0;
          }
          &:after {
            bottom: 0;
          }
        }
      }
      &-logo {
        position: absolute;
        height: 34px;
        right: 0;
        left: 55px;
        top: 50%;
        transform: translate(0, -50%);
        background: url(/logo.svg) no-repeat;
        background-size: contain;
      }
    }
    &-right {
      height: 100%;
      flex-grow: 1;
      position: relative;
      &-input {
        width: 340px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 20px;
        display: flex;
        flex-direction: column;
        & > input {
          height: 34px;
          width: 100%;
          background: #fafafa;
          border-radius: 5px;
          font-size: 14px;
          padding: 0 0 0 38px;
          border: 1px solid #F4F4F4;
        }
        &-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          background: url('/search.svg') no-repeat center;
          background-size: contain;
          left: 14px;
          top: 50%;
          transform: translate(0,-50%);
        }
      }
      &-menu {
        position: absolute;
        right: 28px;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        &-notification {
          width: 15px;
          height: 18px;
          background: url('/notification.svg') no-repeat center;
          background-size: contain;
          position: relative;
          cursor: pointer;
          &-count {
            background: #FF4D5A;
            position: absolute;
            color: #fff;
            font-size: 12px;
            padding: 0 5px 0 5px;
            border-radius: 10px;
            min-width: 21px;
            text-align: center;
            top: -10px;
            right: -11px;
            animation: leaves .4s linear infinite alternate;
            -webkit-animation: leaves .4s linear infinite alternate;
          }
        }
        &-user {
          display: flex;
          height: 100%;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          &-icon {
            width: 34px;
            height: 34px;
            background: #274985 no-repeat center;
            background-size: contain;
            border-radius: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            & > div {
              font-size: 14px;
              font-weight: bold;
              color: #fff;
            }
          }
          &-title {
            font-size: 14px;
          }
          &:hover > .header-section-main-right-menu-dropdown {
            display: block;
          }
        }
        &-dropdown, &-dropdown-notification {
          display: none;
          position: absolute;
          width: 170px;
          background: #fff;
          right: 0;
          top: 60px;
          box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
          border-radius: 5px;
          z-index: 5;
          &:before {
            content: '';
            position: absolute;
            background: #fff;
            width: 12px;
            height: 12px;
            transform: rotate(
                45deg);
            top: -6px;
            right: 15px;
            box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
          }
          &-main, &-main-notification {
            width: 100%;
            position: relative;
            z-index: 2;
            min-height: 50px;
            background: #fff;
            border-radius: 5px;
            padding: 10px;
            overflow: hidden;
            &-title {
              font-size: 14px;
              padding: 10px;
            }
            &-empty {
              height: 130px;
              display: flex;
              gap: 5px;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              &-icon {
                width: 30px;
                height: 30px;
                background: url('/bell.png') no-repeat center;
                background-size: contain;
              }
              &-title {
                font-size: 12px;
                color: #8C8C8C;
              }
            }
            &-list {
              display: flex;
              flex-direction: column;
              &-item {
                border: 1px solid transparent;
                border-top-color: #F4F4F4;
                display: flex;
                padding: 10px;
                margin: 0 10px 0 10px;
                grid-gap: 10px;
                gap: 10px;
                font-size: 12px;
                cursor: pointer;
                &:first-child {
                  border-top-color: transparent;
                }
                &:hover {
                  border: 1px solid #F4F4F4;
                  background: #FAFAFA;
                  border-radius: 5px;
                  & + div {
                    border-top-color: transparent;
                  }
                }
                &-icon {
                  width: 34px;
                  height: 34px;
                  background: url('/doc.png') #00549F no-repeat center;
                  border-radius: 30px;
                  &-orange {
                    background-color: #FAAD14;
                  }
                  &-green {
                    background-color: #52C41A;
                  }
                  &-upload {
                    background-image: url('/upload.png');
                  }
                  &-check {
                    background-image: url('/ready.png') !important;
                  }
                }
                &-detail {
                  flex: 1;
                  width: 230px;
                  &-title {
                    font-weight: bold;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                  }
                  &-time {
                    color: #1E1E1E;
                  }
                }
                &-time {
                  margin-left: auto;
                  color: #8C8C8C;
                  width: 70px;
                  text-align: right;
                  font-size: 12px;
                }
              }
            }
            &-item {
              height: 34px;
              width: 100%;
              display: flex;
              align-items: center;
              cursor: pointer;
              font-weight: 500;
              padding: 0 10px 0 10px;
              gap: 10px;
              border-radius: 5px;
              &:hover {
                background: #F0F0F0;
              }
              &-icon {
                width: 18px;
                height: 18px;
                background: no-repeat center;
                background-size: contain;
                &-user {
                  background-image: url('/user.png');
                }
                &-logout {
                  background-image: url('/logout.png');
                }
              }
              &-title {
                font-size: 12px;
                color: #1E1E1E;
              }
            }
            &-footer {
              color: #274985;
              border-top: 1px solid #F4F4F4;
              text-align: center;
              font-size: 12px;
              padding: 8px 0 8px 0;
              font-weight: bold;
              cursor: pointer;
              margin-top: 10px;
              &:hover {
                background: #FAFAFA;
              }
            }
          }
          &-main-notification {
            padding: 0;
          }
        }
        &-dropdown-notification {
          width: 400px;
          top: 37px;
          right: -14px;
          &-show {
            display: block;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1120px) {
  .header-section {
    &-main {
      &-left {
        width: 64px;
        border-right: 1px solid #F0F0F0;
        &-logo {
          display: none;
        }
      }
      &-right {
        &-input {
          width: 250px;
        }
        &-menu {
          &-dropdown:before {
            right: 12px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 680px) {
  .header-section {
    &-main {
      &-right {
        &-input {
          width: 64px;
          z-index: 5;
          background: white;
          height: 100%;
          justify-content: center;
          left: 0;
          border-right: 1px solid #F0F0F0;
          & > input {
            display: none;
          }
          &-icon {
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        &-menu {
          right: 14px;
          &-user {
            &-title {
              display: none;
            }
          }
        }
      }
    }
  }
}
