.login {
  &-error {
    color: #D8000C !important;
  }
  &-main {
    background: #fff;
    width: 380px;
    height: 500px;
    margin: 50px auto 50px auto;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.05);
  }
  &-logo {
    width: 168px;
    padding: 75px 0 0 0;
    margin: 0 auto 0 auto;
  }
  &-title {
    font-size: 14px;
    color: #8C8C8C;
    margin: 16px 30px 16px 30px;
    text-align: center;
    line-height: 24px;
    & > span {
      color: #1890FF;
    }
  }
  &-input, &-input-password {
    margin: 0 30px 16px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    & > input {
      height: 44px;
      border: 1px solid #f4f4f4;
      padding: 0 12px 0 12px;
      border-radius: 5px;
      font-size: 12px;
      background: #fafafa;
    }
  }
  &-input {
    &-checkbox {
      margin: 8px 30px 0 30px;
      display: flex;
      gap: 8px;
      cursor: pointer;
      &-icon {
        width: 16px;
        height: 16px;
        border: 1px solid #274985;
        border-radius: 2px;
        background: #274985;
        &-checked {
          &:before, &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 2px;
            background: #fff;
            transform: rotate(-45deg);
            margin: 6px 0 0 3px;
          }
          &:after {
            transform: rotate(45deg);
            width: 4px;
            margin: 8px 0 0 2px;
          }
        }
      }
      &-title {
        flex: 1;
        font-size: 10px;
        color: #8C8C8C;
      }
    }
    &-switch {
      flex-direction: initial;
      gap: 12px;
      & > input {
        flex-grow: 1;
      }
      &-btn {
        width: 55px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &-line {
          height: 30px;
          width: 55px;
          border-radius: 20px;
          background: #086dd9 no-repeat;
        }
        &-icon {
          width: 24px;
          height: 24px;
          background: #fff;
          border-radius: 26px;
          margin: 3px;
        }
        &-phone {
          background-image: url('/phone-fill.png');
          background-position: 30px 6px;
        }
        &-email {
          background-image: url('/mail-fill.png');
          background-position: 6px 6px;
          & > div {
            float: right;
          }
        }
      }
    }
    &-date {
      margin: 0 30px 16px 30px;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 8px;
      &-title {
        font-size: 12px;
        color: #8C8C8C;
      }
      &-list {
        display: flex;
        gap: 16px;
        &-dropdown {
          display: flex;
          flex-direction: column;
          position: absolute;
          background: #fff;
          box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
          width: 100%;
          top: 0;
          transform: translate(0, -100%);
          height: 150px;
          border-radius: 4px;
          overflow: hidden;
          &-item {
            padding: 12px;
            display: flex;
            align-items: center;
            font-size: 12px;
            &:hover {
              background: #F0F0F0;
            }
          }
          &-hide {
            display: none;
          }
        }
        &-title {
          height: 44px;
          border: 1px solid #D9D9D9;
          padding: 0 12px 0 12px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          font-size: 12px;
          position: relative;
        }
        &-arrow {
          width: 12px;
          height: 12px;
          background: url(/right.png) no-repeat center;
          background-size: contain;
          position: absolute;
          right: 10px;
          transform: rotate(
              90deg);
        }
      }
      &-item {
        cursor: pointer;
        position: relative;
      }
      &-day, &-year {
        min-width: 80px;
      }
      &-month {
        flex-grow: 1;
      }
    }
    &-cells {
      margin: 0 30px 16px 30px;
      display: flex;
      gap: 16px;
      justify-content: center;
    }
    &-cell {
      & > input {
        width: 44px;
        height: 44px;
        background: gainsboro;
        text-align: center;
        border: none;
        font-size: 16px;
        border-radius: 2px;
      }
    }
  }
  &-input-password {
    & > input {
      padding-right: 40px;
    }
    &-option {
      width: 22px;
      height: 20px;
      position: absolute;
      right: 12px;
      background: url('/show-password.png') no-repeat center;
      background-size: contain;
      top: 50%;
      transform: translate(0,-50%);
      cursor: pointer;
      opacity: .5;
    }
    &-hide {
      background-image: url('/hide-password.png');
    }
  }
  &-forgot {
    font-size: 12px;
    color: #274985;
    margin: 0 30px 0 30px;
  }
  &-btn {
    margin: 30px;
    & > button {
      height: 44px;
      width: 100%;
      background: #274985;
      border: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }
    &-double {
      display: flex;
      gap: 16px;
      & > button:first-child {
        background: #8C8C8C;
      }
    }
  }
  &-remembered {
    color: #274985;
    margin: 16px 30px 0 30px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 1120px) {
  .login {
    &-main {
      width: auto;
      margin: 50px 15px 50px 15px;
      height: 350px;
    }
    &-logo {
      padding: 40px 0 0 0;
      width: 120px;
    }
    &-title {
      margin: 15px;
      font-size: 12px;
      line-height: 1;
    }
    &-input, &-input-password {
      margin: 0 15px 15px 15px;
      & > input {
        height: 34px;
      }
    }
    &-input {

    }
    &-forgot {
      margin: 0 15px 0 15px;
      font-size: 12px;
    }
    &-btn {
      margin: 15px 15px 0 15px;
      & > button {
        height: 34px;
        font-size: 12px;
      }
    }
    &-remembered {
      font-size: 12px;
    }
  }
}
