.modal {
  &-global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    padding: 50px 0 50px 0;
    overflow: auto;
  }
  &-hidden {
    display: none;
  }
  &-content {
    &-global {
      width: 450px;
      min-height: 150px;
      background: #fff;
      position: relative;
      left: 50%;
      transform: translate(-50%,0);
      box-shadow: 0 0 2px 1px rgb(0 0 0 / 5%);
      border-radius: 5px;
      overflow: hidden;
      &-xl {
        width: 800px;
        max-width: 95%;
        min-height: 100%;
      }
    }
    &-form {
      display: flex;
      flex-direction: column;
      grid-gap: 16px;
      margin: 16px;
      font-size: 14px;
    }
    &-body {
      margin: 24px;
      border: 1px solid #F0F0F0;
      border-radius: 4px;
      font-size: 12px;
      overflow: hidden;
      &-file {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #000;
        &:hover {
          background: #FAFAFA;
        }
        &-icon {
          width: 50px;
          height: 50px;
          background: url('/excel-icon.png') no-repeat center;
          border-right: 1px solid #F0F0F0;
        }
        &-title {
          padding: 0 16px 0 16px;
          flex-grow: 1;
        }
        &-download {
          width: 26px;
          height: 26px;
          margin: 0 12px 0 0;
          background: url('/right-arrow-grey.png') no-repeat center;
          transform: rotate(90deg);
          border-radius: 30px;
        }
      }
      &-item {
        display: flex;
        border-bottom: 1px solid #F0F0F0;
        &:first-child {
          font-weight: bold;
        }
        &:last-child {
          border-bottom: none;
        }
        & > div {
          padding: 16px;
        }
        &-id {
          width: 10px;
        }
        &-title {
          flex-grow: 1;
          padding-left: 0;
        }
        &-measure {
          padding-left: 0;
        }

      }
    }
    &-resize {
      width: 100%;
      height: 306px;
      background: #F0F0F0;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      &-text {
        color: grey;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        position: absolute;
      }
    }
    &-list {
      min-height: 305px;
      border-bottom: 1px solid #F0F0F0;
      padding: 24px;
      & > div {
        display: flex;
        grid-gap: 24px;
        gap: 19px;
        flex-wrap: wrap;
      }
      &-item {
        width: 65px;
        height: 65px;
        border-radius: 4px;
        cursor: pointer;
        background: #F5F5F5 no-repeat center;
        background-size: contain;
        position: relative;
        &-add {
          background: #F5F5F5 url('/add.png') no-repeat center;
        }
        &:hover, &-sel {
          box-shadow: 0 0 0 5px #1890FF inset;
        }
      }
    }
    &-header {
      font-size:18px;
      padding: 16px;
      display: flex;
      border-bottom: 1px solid #F0F0F0;
      &-close {
        width: 30px;
        height: 30px;
        background: url('/close.png') no-repeat center;
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
      }
    }
    &-graph {
      margin: 30px 80px 40px 80px;
      display: flex;
      align-items: center;
      gap: 10px;
      &-empty {
        margin: 50px 100px 50px 100px;
        text-align: center;
        font-size: 12px;
        color: #8C8C8C;
      }
      &-list {
        margin: 0 20px 20px 20px;
        &-item {
          display: flex;
          align-items: center;
          gap: 15px;
          position: relative;
          padding: 20px 0 20px 0;
          border-bottom: 1px solid #F0F0F0;
          &-content {
            display: flex;
            flex-direction: column;
            gap: 2px;
            &-name {
              font-size: 14px;
            }
            &-detail {
              font-size: 11px;
              & > span {
                color: #8C8C8C;
              }
            }
          }
          &-buttons {
            display: flex;
            position: absolute;
            right: 0;
            top: 20px;
            gap: 10px;
            & > button {
              width: 18px;
              height: 18px;
              background: no-repeat center transparent;
              background-size: contain;
              border: none;
              cursor: pointer;
              opacity: .5;
              &:hover {
                opacity: 1;
              }
            }
          }
          &-edit {
            background-image: url('/edit.png') !important;
          }
          &-delete {
            background-image: url('/delete.png') !important;
          }
        }
      }
      &-header {
        overflow: hidden;
        margin: 20px 20px 0 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #D9D9D9;
        & > button {
          height: 32px;
          width: 100px;
          background: #1890FF;
          border-radius: 2px;
          border: none;
          color: #fff;
          cursor: pointer;
        }
      }
      &-block {
        border: 1px solid #D9D9D9;
        &-header {
          border-bottom: 1px solid #D9D9D9;
        }
        &-title {
          font-size: 14px;
          color: #1E1E1E;
          margin: 12px;
        }
        &-radios {
          margin: 12px;
        }
        &-select {
          margin: 12px;
        }
        &-body {
          min-height: 150px;
          position: relative;
          padding: 6px 0 6px 0;
          &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background: #D9D9D9;
            top: 0;
            left: 38px;
          }
          &-item {
            height: 38px;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 5px 0 5px 0;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }
            &-num {
              font-size: 12px;
              width: 38px;
              height: 38px;
              border-right: 1px solid transparent;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &-item {
              width: 18px;
              height: 2px;
              background: #8C8C8C;
              margin: 0 15px 0 15px;
              position: relative;
              &:before, &:after {
                content: '';
                position: absolute;
                background: #8C8C8C;
                width: 18px;
                height: 2px;
              }
              &:before {
                top: -4px
              }
              &:after {
                top: 4px;
              }
            }
            &-title {
              font-size: 12px;
              height: 30px;
              border: 1px solid #D9D9D9;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              flex-grow: 1;
              border-radius: 2px;
              &-role {
                font-size: 9px;
                padding: 1px;
                border-radius: 2px;
                background: #1890FF;
                color: #fff;
              }
            }
            &-add {
              height: 30px;
              width: 30px;
              border: 1px solid #D9D9D9;
              margin: 0 9px 0 9px;
              border-radius: 2px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &-none {
              display: none;
            }
            &-hide > .modal-content-graph-block-body-item-title, &-hide > .modal-content-graph-block-body-item-add {
              border: 1px solid #1890FF;
              color: #1890FF;
            }
            &-hide > .modal-content-graph-block-body-item-item {
              background: #1890FF;
              &:before, &:after {
                background: #1890FF;
              }
            }
            &-hide > .modal-content-graph-block-body-item-num {
              color: #1890FF;
            }
          }
        }
      }
      &-title {
        color: #8C8C8C;
        top: 40px;
        position: absolute;
        font-size: 12px;
      }
      &-item, &-active {
        width: 32px;
        height: 32px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        border-radius: 30px;
        color: #8C8C8C;
        position: relative;
      }
      &-active {
        background: #1890FF;
        border: none;
        color: #fff;
        & > .modal-content-graph-title {
          color: #1890FF;
        }
      }
      &-line {
        flex-grow: 1;
        height: 2px;
        background: #1890FF;
      }
      &-field {
        margin: 16px;
        font-size: 14px;
        &-radios {
          display: flex;
          margin-top: 10px;
          gap: 15px;
          &-item {
            display: flex;
            align-items: center;
            gap: 6px;
            & > input {
              margin: 0;
            }
            & > label {
              cursor: pointer;
              font-size: 12px;
              color: #1E1E1E;
            }
          }
        }
        &-add {
          display: flex;
          flex-direction: column;
          & > button {
            border: 1px dashed #D9D9D9;
            height: 30px;
            background: #fff;
            margin-top: 16px;
            cursor: pointer;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            & > span {
              display: flex;
              align-items: center;
              gap: 10px;
              margin: 0 auto 0 auto;
              & > div {
                width: 10px;
                height: 10px;
                background: url('/add.png') no-repeat center;
              }
            }
          }
        }
        &-title {
          font-size: 12px;
          color: #1E1E1E;
        }
        &-description {
          color: #FF4D5A;
          margin: 5px 0 0 0;
        }
        &-radio {
          display: flex;
          margin-top: 15px;
          gap: 20px;
          &-item {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            &-icon {
              border: 2px solid #D9D9D9;
              width: 18px;
              height: 18px;
              border-radius: 20px;
              &-active {
                border-color: #1890FF;
                position: relative;
                &:before {
                  content: "";
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  background: #1890FF;
                  border-radius: 10px;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                }
              }
            }
            &-title {

            }
          }
        }
        &-input {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          color: #8C8C8C;
          word-break: break-word;
          &-file {
            margin-top: 10px;
            background: #fff;
            height: 98px;
            border: 1px dashed #D9D9D9;
            box-sizing: border-box;
            border-radius: 2px;
            display: flex;
            align-items: center;
            gap: 8px;
            &-icon {
              width: 44px;
              height: 44px;
              margin-left: 24px;
              background: #FAFAFA url('/excel-icon.png') no-repeat center;
            }
            &-detail {
              display: flex;
              gap: 2px;
              flex-direction: column;
              font-size: 12px;
              flex: 1;
              &-title {
                color: #1E1E1E;
              }
              &-size {
                color: #8C8C8C;
              }
            }
            &-close {
              width: 14px;
              height: 14px;
              background: url('/close.png') no-repeat center;
              background-size: contain;
              margin: 0 24px 0 auto;
              cursor: pointer;
            }
          }
          &-double {
            margin-top: 10px;
            color: #8C8C8C;
            display: flex;
            gap: 16px;
            align-items: flex-end;
            &-title {
              font-size: 12px;
              color: #1E1E1E;
              margin-bottom: 8px;
            }
            &-remove {
              width: 30px;
              height: 30px;
              background: url('/trash.png') #F5F5F5 no-repeat center;
              border: 1px solid #D9D9D9;
              box-sizing: border-box;
              border-radius: 2px;
              cursor: pointer;
            }
            & > div {
              display: flex;
              flex-direction: column;
              & > input {
                height: 30px;
                padding: 0;
                margin: 0;
                border: 1px solid #D9D9D9;
                box-sizing: border-box;
                border-radius: 2px;
                width: 100%;
                text-indent: 8px;
              }
            }
            &-block {
              display: flex;
              flex-direction: initial !important;
              gap: 16px;
              & > div {
                display: flex;
                flex-direction: column;
                & > input, & > select {
                  height: 30px;
                  padding: 0;
                  margin: 0;
                  background: #fff;
                  border: 1px solid #D9D9D9;
                  box-sizing: border-box;
                  border-radius: 2px;
                  width: 66px;
                  text-indent: 8px;
                }
              }
            }
          }
          & > select, & > input, & > textarea {
            padding: 0 8px 0 8px;
            box-sizing: border-box;
            border-radius: 2px;
            border: 1px solid #D9D9D9;
            background: #fff;
            font-size: 12px;
            height: 30px;
          }
          & > textarea {
            padding: 8px;
            height: 80px;
            resize: none;
            overflow: hidden;
            font-family: inherit;
          }
          & > .mx-datepicker-range {
            width: 100%;
          }
          &-text {
            font-size: 12px;
            color: #595959;
          }
          &-upload {
            background: #FFFFFF;
            border: 1px dashed #D9D9D9;
            height: 120px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &-detail {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 8px;
              max-width: 300px;
              &-icon {
                background: url('/excel.png') no-repeat center;
                background-size: contain;
                width: 24px;
                height: 24px;
              }
              &-title {
                font-size: 12px;
                color: #1890FF;
                text-align: center;
                font-weight: bold;
              }
            }
          }
          &-list {
            background: #FAFAFA;
            border: 1px solid #D9D9D9;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            padding: 12px;
            gap: 8px;
            &-item {
              display: flex;
              align-items: center;
              gap: 8px;
              &-icon {
                height: 32px;
                width: 32px;
                background: #FAAD14;
                border-radius: 50px;
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 14px;
                color: #fff;
              }
              &-title {
                color: #8C8C8C;
                font-weight: 500;
              }
            }
          }
        }
      }
      &-footer {
        margin-top: 16px;
        padding: 16px;
        border-top: 1px solid #D9D9D9;
        display: flex;
        gap: 16px;
        & > div {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          & > button {
            height: 30px;
            background: #fff;
            border: 1px solid #D9D9D9;
            box-sizing: border-box;
            border-radius: 2px;
            font-size: 12px;
            cursor: pointer;
          }
        }
        &-btn {
          background: #1890FF !important;
          color: #fff;
          border: none !important;
        }
      }
    }
    &-notification {
      &-more {
        padding: 0 15px 0 15px;
        height: 30px;
        background: #274985;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 10px;
        font-size: 12px;
      }
    }
  }
}
#circleG{
  width:67px;
  margin:auto;
}

.circleG{
  background-color:rgb(255,255,255);
  float:left;
  height:14px;
  margin-left:8px;
  width:14px;
  animation-name:bounce_circleG;
  -o-animation-name:bounce_circleG;
  -ms-animation-name:bounce_circleG;
  -webkit-animation-name:bounce_circleG;
  -moz-animation-name:bounce_circleG;
  animation-duration:0.7775s;
  -o-animation-duration:0.7775s;
  -ms-animation-duration:0.7775s;
  -webkit-animation-duration:0.7775s;
  -moz-animation-duration:0.7775s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  border-radius:9px;
  -o-border-radius:9px;
  -ms-border-radius:9px;
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
}

#circleG_1{
  animation-delay:0.1595s;
  -o-animation-delay:0.1595s;
  -ms-animation-delay:0.1595s;
  -webkit-animation-delay:0.1595s;
  -moz-animation-delay:0.1595s;
}

#circleG_2{
  animation-delay:0.3655s;
  -o-animation-delay:0.3655s;
  -ms-animation-delay:0.3655s;
  -webkit-animation-delay:0.3655s;
  -moz-animation-delay:0.3655s;
}

#circleG_3{
  animation-delay:0.4685s;
  -o-animation-delay:0.4685s;
  -ms-animation-delay:0.4685s;
  -webkit-animation-delay:0.4685s;
  -moz-animation-delay:0.4685s;
}



@keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(24,143,255);
  }

  100%{}
}

@-o-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(24,143,255);
  }

  100%{}
}

@-ms-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(24,143,255);
  }

  100%{}
}

@-webkit-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(24,143,255);
  }

  100%{}
}

@-moz-keyframes bounce_circleG{
  0%{}

  50%{
    background-color:rgb(24,143,255);
  }

  100%{}
}
.mx-input {
  border-radius: 2px;
  height: 30px;
  box-shadow: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
