.profile-section {
  margin: 20px;
  &-rooms {
    margin: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &-item {
      background: #f0f0f0;
      border-radius: 2px;
      padding: 16px;
      font-size: 12px;
      display: flex;
      gap: 5px;
      flex-direction: column;
      &-field {
        display: flex;
        gap: 10px;
        &-title {
          width: 15%;
          color: grey;
          text-align: right;
          &:after {
            content: ':';
          }
        }
        &-value {
          flex-grow: 1;
        }
      }
    }
  }
  &-main {
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 5%);
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    display: flex;
    &-left {
      width: 230px;
      min-height: 350px;
      border-right: 1px solid #F0F0F0;
      padding: 32px 0 0 0;
      &-menu {
        margin-top: 24px;
        padding-top: 24px;
        border-top: 1px solid #F0F0F0;
        user-select: none;
        &-item {
          font-size: 12px;
          height: 40px;
          align-items: center;
          display: flex;
          color: #1E1E1E;
          font-weight: bold;
          cursor: pointer;
          padding: 0 16px 0 16px;

          &:hover, &-sel {
            background: #F0F0F0;
            color: #274985;
            border-right: 3px solid #274985;
          }
        }
      }
      &-icon {
        width: 120px;
        height: 120px;
        margin: 0 auto 0 auto;
        background: #274985 no-repeat center;
        background-size: contain;
        border-radius: 70px;
        position: relative;
        & > div {
          position: absolute;
          font-size: 50px;
          font-weight: bold;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color: #fff;
        }
      }
      &-buttons {
        margin: -30px 0 0 0;
        display: flex;
        grid-gap: 8px;
        gap: 30px;
        position: relative;
        width: max-content;
        left: 50%;
        transform: translate(-50%,0);
      }
      &-button {
        height: 30px;
        width: 30px;
        border-radius: 30px;
        border: 2px solid #bfbfbf;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 12px;
        color: #1E1E1E;
        background: #fff;
        &-icon {
          width: 12px;
          height: 12px;
          background: no-repeat center;
          background-size: contain;
          &-upload {
            background-image: url('/upload.png');
          }
          &-gallery {
            background-image: url('/gallery.png');
          }
        }
      }
    }
    &-right {
      flex-grow: 1;
      padding: 0 0 32px;
      &-title {
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        margin: 32px 24px 0 24px;
      }
      &-fields {
        margin: 16px 24px 0 24px;
        display: flex;
        gap: 16px;
        & > div:only-child {
          max-width: 400px;
        }
      }
      &-field {
        display: flex;
        gap: 8px;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        &-title {
          color: #8C8C8C;
          font-size: 12px;
        }
        & > input {
          width: 100%;
          height: 30px;
          border: none;
          box-sizing: border-box;
          border-radius: 2px;
          font-size: 12px;
          padding: 0 10px 0 10px;
          background: #F0F0F0;
        }
        & > select {
          width: 100%;
          height: 30px;
          border: none;
          box-sizing: border-box;
          border-radius: 2px;
          font-size: 12px;
          padding: 0 10px 0 10px;
          background: #F0F0F0;
        }
        &-selects {
          display: flex;
          gap: 16px;
        }
        &-select {
          height: 30px;
          border: none;
          box-sizing: border-box;
          border-radius: 2px;
          font-size: 12px;
          padding: 0 10px 0 10px;
          background: #F0F0F0;
          &-day {
            width: 55px;
          }
          &-month {
            flex-grow: 1;
          }
          &-year {
            width: 70px;
          }
        }
      }
      &-checkbox {
        color: #1E1E1E;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        &-icon {
          width: 14px;
          height: 14px;
          border: 2px solid #274985;
          border-radius: 2px;
          position: relative;
          &-checked:before, &-checked:after {
            content: "";
            position: absolute;
            background: #274985;
            width: 2px;
            height: 8px;
            top: 3px;
            left: 8px;
            transform: rotate(
                45deg);
          }
          &-checked:after {
            transform: rotate(-45deg);
            height: 5px;
            top: 6px;
            left: 4px;
          }
        }
      }
      &-btn {
        height: 32px;
        width: 100px;
        background: #274985;
        border-radius: 2px;
        border: none;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
@media only screen and (max-width: 1120px) {
  .profile-section {
    margin: 15px;
    &-main {
      flex-direction: column;
      &-left {
        border: none;
        width: 100%;
        padding: 0;
        min-height: auto;
        &-icon {
          width: 40px;
          height: 40px;
          margin: 15px 0 0 15px;
          & > div {
            font-size: 14px;
          }
        }
        &-buttons {
          margin: -35px 0 0 0;
          gap: 8px;
          left: unset;
          right: 35px;
          transform: translate(0,0);
          position: absolute;
        }
        &-menu {
          margin-top: 15px;
          border: none;
          display: flex;
          justify-content: center;
          border-bottom: 1px solid #F0F0F0;
          border-top: 1px solid #F0F0F0;
          padding: 15px;
          & > a {
            width: 50%;
          }
          &-item {
            height: 30px;
            border-radius: 2px;
            text-align: center;
            justify-content: center;
            font-size: 10px;
            &:hover, &-sel {
              border: none;
              background: #274985;
              color: #fff;
            }
          }
        }
        &-button {
          border: none;
        }
      }
      &-right {
        padding-bottom: 15px;
        &-title {
          font-size: 14px;
          margin: 15px;
        }
        &-fields {
          margin: 15px 15px 0 15px;
          flex-direction: column;
          gap: 8px;
        }
        &-field {
          gap: 6px;
          &-title {
            font-size: 10px;
            color: #8C8C8C;
          }
          &-selects {
            gap: 8px;
          }
        }
        &-btn {
          width: 100%;
          font-size: 12px;
        }
        &-checkbox {
          font-size: 10px;
          color: #8C8C8C;
        }
      }
    }
  }
}
