.request-section {
  margin: 20px;
  &-table {
    &-body {
      background: #FAFAFA;
      border-top: 1px solid #F0F0F0;
      &-list {
        width: 100%;
        border-top: 1px solid #F0F0F0;
        font-size: 10px;
        &-item {
          & > th, & > td {
            padding: 16px;
          }
          & > td {
            border-top: 1px solid #F0F0F0;
          }
          &-btn {
            border: 1px solid #FFA39E;
            background: #FFF1F0;
            height: 20px;
            padding: 0 16px 0 16px;
            font-size: 10px;
            color: #F5222D;
            cursor: pointer;
            border-radius: 2px;
            &-new {
              color: #1890FF;
              background: #E6F7FF;
              border: 1px solid #91D5FF;
            }
            &-download {
              background: #FFFBE6;
              border: 1px solid #FFE58F;
              color: #FAAD14;
            }
          }
          &-download, &-trash {
            width: 20px;
            height: 20px;
            background: url('/cloud-download.png') no-repeat center;
            cursor: pointer;
            opacity: .5;
            &:hover {
              opacity: 1;
            }
          }
          &-trash {
            background-image: url('/trash-can.png');
          }
          &-buttons {
            display: flex;
            gap: 4px;
          }
        }
      }
      &-header {
        display: flex;
        padding: 16px;
        align-items: center;
        &-title {
          font-weight: bold;
          font-size: 10px;
        }
        &-buttons {
          display: flex;
          gap: 16px;
          margin-left: auto;
        }
        &-button {
          height: 28px;
          background: transparent;
          padding: 0 8px 0 8px;
          border: 1px solid #00549F;
          font-size: 10px;
          font-family: inherit;
          color: #00549F;
          border-radius: 2px;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 6px;
          &-icon {
            background: url('/document.png') no-repeat center;
            background-size: contain;
            width: 16px;
            height: 16px;
            animation: none;
            border:none;
          }
          &-reject {
            border: 1px solid #FF4D5A;
            color: #FF4D5A;
            &-icon {
              background-image: url('/archive-cancel.png');
            }
          }
        }
      }
      &-footer {
        border-top: 1px solid #F0F0F0;
        padding: 16px;
        & > button {
          border: none;
          background: #00549F;
          color: #fff;
        }
        &-draw {
          background-image: url('/draw-pen.png');
        }
      }
    }
    &-header {
      display: flex;
      font-weight: normal;
      font-size: 12px;
      gap: 16px;
      color: #000;
      cursor: pointer;
      padding: 16px;
      &-bold {
        font-weight: bold;
      }
      &-icon {
        width: 12px;
        & > div {
          width: 12px;
          height: 12px;
          position: relative;
        }
        &-plus:before, &-plus:after, &-minus:before {
          content: '';
          position: absolute;
          background: #1890FF;
          width: 100%;
          height: 2px;
          top: 50%;
          transform: translate(0,-50%);
        }
        &-plus:after {
          transform: translate(0,-50%) rotate(90deg);
        }
      }
      &-id {
        width: 65px;
      }
      &-status {
        flex-grow: 1;
      }
      &-date {
        width: 75px;
      }
      &-count {
        width: 90px;
        &-danger {
          color: #FF4D5A;
        }
      }
      &-comment {
        width: 200px;
        display: flex;
        gap: 8px;
        &-icon {
          width: 16px;
          height: 16px;
          background: url('/comment.png') no-repeat center;
        }
        &-text {
          flex-basis: fit-content;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          &-empty {
            color: #8C8C8C;
          }
        }
      }
    }
  }
  &-main {
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 5%);
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    &-error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 350px;
      gap: 8px;
      &-code {
        font-size: 40px;
        color: #1890FF;
      }
      &-title {
        color: #8C8C8C;
        font-size: 14px;
      }
      &-icon {
        width: 100px;
        height: 100px;
        background: no-repeat center;
        background-size: contain;
        &-papertray {
          background-image: url('/papertray.png');
        }
        &-alert {
          background-image: url('/alert.png');
        }
      }
    }
    &-card {
      &-footer {
        border-top: 1px solid #F0F0F0;
        padding: 20px;
      }
      &-body {
        padding: 20px;
        &-items {
          display: flex;
        }
        &-item {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 8px;
          &-description {
            font-size: 12px;
            font-family: inherit;
            color: #1E1E1E;
            resize: none;
            border: none;
            padding: 0;
            margin: 0;
            height: 50px;
          }
          &-title {
            font-size: 16px;
            margin-bottom: 6px;
            color: #1E1E1E;
            font-weight: bold;
            &-loading {
              width: 50%;
              height: 19px;
              background: #F0F0F0;
              border-radius: 2px;
              margin-bottom: 6px;
              animation: pulse 1s cubic-bezier(.4,0,.6,1) infinite;
            }
            &-invisible {
              opacity: 0;
              visibility: hidden;
            }
          }
          &-persons {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
          &-person {
            display: flex;
            gap: 8px;
            align-items: center;
            &-icon {
              width: 34px;
              height: 34px;
              border-radius: 34px;
              background: #FAAD14;
              font-size: 12px;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &-title {
              font-size: 14px;
              color: #1E1E1E;
            }
          }
          &-cell {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-size: 12px;
            &-arrow {
              width: 17px;
              height: 12px;
              background: url('/right-arrow-grey.png') no-repeat center;
            }
            &-title {
              color: #8C8C8C;
              &-loading {
                height: 14px;
                background: #F0F0F0;
                border-radius: 2px;
                animation: pulse 1s cubic-bezier(.4,0,.6,1) infinite;
                width: 70%;
              }
            }
            &-value {
              color: #1E1E1E;
              font-weight: bold;
              display: flex;
              gap: 6px;
            }
            & > div:only-child {
              display: flex;
              min-height: 30px;
              align-items: center;
              margin: 2px 0 0 0;
            }
            &-indicator {
              display: flex;
              align-items: center;
              gap: 6px;
              &-icon {
                width: 20px;
                height: 20px;
                background: url('/loading-grey.png') no-repeat center;
                animation: rotating 3s linear infinite;
              }
              &-title {
                color: #8C8C8C;
                &-list {
                  cursor: pointer;
                  position: relative;
                  &-show {
                    position: absolute;
                    pointer-events: none;
                    width: 200px;
                    background: #fff;
                    left: 0;
                    bottom: 35px;
                    z-index: 2;
                    box-shadow: 0 0 2px 1px rgb(0 0 0 / 10%);
                    border-radius: 2px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .1s linear;
                    &-angle {
                      position: absolute;
                      overflow: hidden;
                      bottom: -12px;
                      left: 12px;
                      width: 24px;
                      height: 12px;
                      &:after {
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        background: #fff;
                        transform: rotate(-45deg);
                        top: -6px;
                        left: 6px;
                        box-shadow: 0 0 2px 1px rgb(0 0 0 / 10%);
                      }
                    }
                    &-item {
                      display: flex;
                      align-items: center;
                      gap: 6px;
                      padding: 6px;
                      border-top: 1px solid #F0F0F0;
                      color: #8C8C8C;
                      &-agreed {
                        & > .request-section-main-card-body-item-cell-indicator-title-list-show-item-icon {
                          background-image: url('/loading-orange.png');
                        }
                        & > .request-section-main-card-body-item-cell-indicator-title-list-show-item-title {
                          color: #FAAD14;
                        }
                      }
                      &-rejected {
                        & > .request-section-main-card-body-item-cell-indicator-title-list-show-item-icon {
                          background-image: url('/cancel-red.png');
                          animation: none;
                        }
                        & > .request-section-main-card-body-item-cell-indicator-title-list-show-item-title {
                          color: #389E0D;
                        }
                      }
                      &-approved {
                        & > .request-section-main-card-body-item-cell-indicator-title-list-show-item-icon {
                          background-image: url('/check.png');
                          animation: none;
                        }
                        & > .request-section-main-card-body-item-cell-indicator-title-list-show-item-title {
                          color: #389E0D;
                          display: flex;
                          flex-direction: column;
                          gap: 2px;
                          & > div:last-child {
                            color: #000;
                          }
                        }
                      }
                      &:first-child {
                        border-top: none;
                      }
                      &-icon {
                        width: 20px;
                        height: 20px;
                        background: url('/loading-grey.png') no-repeat center;
                        -webkit-animation: rotating 3s linear infinite;
                        animation: rotating 3s linear infinite;
                      }
                      &-title {

                        & > div:last-child {
                          font-size: 10px;
                        }
                      }
                    }
                  }
                  &:hover {
                    text-decoration: underline;
                    & > .request-section-main-card-body-item-cell-indicator-title-list-show {
                      opacity: 1;
                      visibility: visible;
                      bottom: 25px;
                    }
                  }
                }
              }
              &-agreed {
                & > .request-section-main-card-body-item-cell-indicator-icon {
                  background-image: url('/loading-orange.png');
                }
                & > .request-section-main-card-body-item-cell-indicator-title {
                  color: #FAAD14;
                }
              }
              &-rejected {
                & > .request-section-main-card-body-item-cell-indicator-icon {
                  background-image: url('/cancel-red.png');
                  animation: none;
                }
                & > .request-section-main-card-body-item-cell-indicator-title {
                  color: #FF4D5A;
                  display: flex;
                  flex-direction: column;
                  gap: 2px;
                  & > div:last-child {
                    color: #000;
                  }
                }
              }
              &-approved {
                & > .request-section-main-card-body-item-cell-indicator-icon {
                  background-image: url('/check.png');
                  animation: none;
                }
                & > .request-section-main-card-body-item-cell-indicator-title {
                  color: #389E0D;
                  display: flex;
                  flex-direction: column;
                  gap: 2px;
                  & > div:last-child {
                    color: #000;
                  }
                }
              }
            }
          }
          &-button {
            height: 32px;
            color: #1890FF;
            font-size: 12px;
            border: 1px solid #1890FF;
            box-sizing: border-box;
            border-radius: 2px;
            background: #fff;
            width: max-content;
            padding: 6px 16px 6px 16px;
            cursor: pointer;
            &:hover {
              background: #1890FF;
              color: #fff;
            }
            &-approve {
              background: #1890FF;
              color: #fff;
            }
            &-cancel {
              background: #f0f0f0;
              color: #1E1E1E;
            }
          }
          &-buttons {
            display: flex;
            gap: 12px;
            & > button {
              height: 32px;
              border-radius: 2px;
              font-size: 12px;
              padding: 0 16px 0 16px;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }
    &-header, &-card-main {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 16px 0 16px;
      border-bottom: 1px solid #F0F0F0;
      &-card {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 8px;
        &-description {
          font-size: 14px;
          & > span {
            color: #8C8C8C;
          }
          &-loading {
            min-width: 100px;
            height: 16px;
            background: #F0F0F0;
            border-radius: 2px;
            animation: pulse 1s cubic-bezier(.4,0,.6,1) infinite;
          }
        }
        &-arrow {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          color: #000;
          &-loading {
            min-width: 150px;
            height: 24px;
            background: #F0F0F0;
            border-radius: 2px;
            animation: pulse 1s cubic-bezier(.4,0,.6,1) infinite;
          }
          &-icon {
            width: 20px;
            height: 14px;
            background: url('/left-arrow.png') no-repeat center;
          }
        }
      }
      &-title {
        font-size: 20px;
        font-weight: 500;
      }
      &-buttons {
        margin-left: auto;
        display: flex;
        gap: 15px;
      }
      &-button, &-button-settings {
        width: 128px;
        height: 34px;
        background: #1890FF;
        border-radius: 2px;
        border: none;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
      }
      &-button-settings {
        width: 100px;
        background: #f0f0f0;
        color: #8C8C8C;
      }
    }
    &-card-main {
      padding: 20px;
      height: auto;
    }
    &-filter {
      height: 60px;
      border-bottom: 1px solid #F0F0F0;
      display: flex;
      padding: 0 16px 0 16px;
      align-items: center;
      gap: 16px;
      &-item {
        height: 34px;
        flex-grow: 1;
        display: flex;
        gap: 16px;
        &:last-child {
          flex-grow: 0;
        }
        &-input {
          height: 34px;
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          position: relative;
          &-icon {
            width: 16px;
            height: 16px;
            position: absolute;
            background: no-repeat center;
            background-size: contain;
            top: 50%;
            transform: translate(0,-50%);
            left: 10px;
          }
          & > input, & > select {
            height: 100%;
            border-radius: 2px;
            background: #fff;
            border: 1px solid #D9D9D9;
            font-size: 12px;
            text-indent: 32px;
            color: #8C8C8C;
          }
          & > select {
            text-indent: 5px;
          }

        }
        & > button {
          cursor: pointer;
          border-radius: 2px;
          font-size: 12px;
          background: transparent;
          border: 1px solid #D9D9D9;
          padding: 0 10px 0 34px;
          position: relative;
          flex-grow: 1;
        }
        &-reset {
          &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: url('/reset.svg') no-repeat center;
            background-size: contain;
            left: 10px;
          }
        }
        &-find {
          border: none !important;
          background: #274985 !important;
          color: #fff;
          &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: url('/search-white.png') no-repeat center;
            background-size: contain;
            left: 10px;
          }
        }
      }
    }
    &-table {
      width: 100%;
      text-align: left;
      border-spacing: 0;
      &-dot {
        &-orange:before {
          content: '';
          position: absolute;
          border-radius: 6px;
          width: 6px;
          height: 6px;
          background: #FAAD14;
          top: 50%;
          left: 0;
          transform: translate(0,-50%);
        }
      }
      &-arrow {
        width: 10px;
        height: 12px;
        background: url(/right.svg) no-repeat center;
        display: inline-block;
        margin: 0 5px 0 5px;
        vertical-align: top;
      }
      &-tr {
        font-size: 12px;
        padding: 0;
        & > th, td {
          padding: 16px !important;
        }
        & > td {
          border-bottom: 1px solid #F0F0F0;
        }
      }
      &-head {
        & > tr {
          & > th {
            font-size: 12px;
            padding: 0;
            color: #434343;
            border-bottom: 1px solid #F0F0F0;
          }
        }
      }
      &-row {
        &-number {
          color: #1890FF;
        }
        &-print {
          width: 22px;
          height: 22px;
          background: url('/print-grey.png') no-repeat center;
          cursor: pointer;
          &-enable {
            background-image: url('/print-blue.png');
          }
        }
        & > td {
          font-size: 12px;
          border-bottom: 1px solid #F0F0F0;
          padding: 0;
          position: relative;
        }
        &-status, &-status-agreed, &-status-approved, &-status-ready, &-status-rejected {
          border: 1px solid #D9D9D9;
          box-sizing: border-box;
          border-radius: 2px;
          background: #FAFAFA;
          padding: 5px 8px 5px 8px;
          display: table;
          color: #8C8C8C;
          font-weight: normal;
        }
        &-status-agreed {
          border: 1px solid #91D5FF;
          background: #E6F7FF;
          color: #1890FF;
        }
        &-status-approved {
          border: 1px solid #B7EB8F;
          color: #52C41A;
        }
        &-status-ready {
          border: 1px solid #FFE58F;
          color: #FAAD14;
        }
        &-status-rejected {
          border: 1px solid #D9D9D9;
          color: #8C8C8C;
        }
      }
      &-empty {
        font-size: 14px;
        text-align: center;
        padding: 100px 0 100px 0;
        color: #8C8C8C;
        border-bottom: 1px solid #F0F0F0;
      }
    }
    &-footer {
      border-bottom: 1px solid #F0F0F0;
      display: flex;
      height: 60px;
      align-items: center;
      background: #FAFAFA;
      &-pagination {
        display: flex;
        margin-left: 16px;
        gap: 10px;
        &-item, &-item-left, &-item-right, &-item-dots, &-take {
          width: 34px;
          height: 34px;
          border: 1px solid #D9D9D9;
          border-radius: 2px;
          font-size: 12px;
          cursor: pointer;
          background: #fff no-repeat center;
        }
        &-take {
          width: auto;
          height: 36px;
          padding: 0 8px 0 8px;
          color: #8C8C8C;
        }
        &-item-left {
          background-image: url('/left.svg');
        }
        &-item-right {
          background-image: url('/right.svg');
        }
        &-item-dots {
          background-image: url('/dots.svg');
        }
        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #8C8C8C;
          &-sel, &:hover {
            border: 1px solid #274985;
            background: #274985;
            color: #fff;
          }
        }
      }
      &-count {
        margin-left: auto;
        margin-right: 32px;
        font-size: 12px;
        color: #8C8C8C;
        text-align: right;
        &-selected {
          font-size: 10px;
          color: #274985;
        }
      }
    }

  }

}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
.mx-datepicker {
  width: 100% !important;
  height: 100% !important;
}
.mx-input {
  height: 34px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}
