.rule {
  margin: 20px;
  &-content {
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 5%);
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    padding: 30px 0 30px 0;
    position: relative;
    &-video {
      margin: 30px;
    }
    &-tie {
      width: 50px;
      height: 20px;
      background: #274985;
      position: absolute;
      right: 40px;
      top: 0;
      &:before {
        content: "";
        position: absolute;
        border: 25px solid #274985;
        border-bottom-color: transparent;
        top: 10px;
      }
    }
    &-header {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-right: 100px;
      margin: 0 30px 0 30px;
      &-title {
        font-size: 18px;
        font-weight: 600;
        & > span {
          color: #274985;
        }
      }
      &-subtitle {
        font-size: 11px;
        color: #8C8C8C;
        font-weight: bold;
      }
    }
    &-caption {
      font-size: 16px;
      font-weight: bold;
      margin: 20px 30px 20px 30px;
    }
    &-text {
      margin: 5px 30px 0 30px;
      font-size: 11px;
      color: #8C8C8C;
      & > span {
        color: #000;
        font-weight: bold;
      }
      & > a {
        font-weight: bold;
      }
      &-type {
        color: #000 !important;
      }
    }
    &-list {
      margin: 5px 30px 0 30px;
      font-size: 12px;
      color: #274985;
      display: flex;
      gap: 10px;
      &-icon {
        width: 12px;
        height: 12px;
        background: url('/right.png') no-repeat center;
        background-size: contain;
        float: left;
        margin-top: 2px;
      }
      &-text {
        flex: 1;
      }
    }
  }
}
