.sidebar-section {
  width: 234px;
  height: 100vh;
  position: relative;
  z-index: 10;
  transition: all .3s linear;
  &-menu {
    display: flex;
    gap: 4px;
    flex-direction: column;
    padding: 12px 0 12px 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    top: 64px;
    bottom: 0;
    width: inherit;
    background: #fff;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 5%);
    &-list {
      display: flex;
      gap: 4px;
      flex-direction: column;
      margin-top: 4px;
      &-item {
        min-height: 34px;
        display: flex;
        grid-gap: 15px;
        gap: 15px;
        align-items: center;
        position: relative;
        padding: 0 0 0 30px;
        color: #8C8C8C;
        margin: 0 10px 0 10px;
        border-radius: 5px;
        &-icon {

        }
        &-title {
          font-size: 12px;
        }
        &:hover, &-active {
          background: #F0F0F0;
          color: #1890FF;
        }
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      color: #000;
      position: relative;
      & > div:first-child {
        padding: 0 15px 0 15px;
        min-height: 34px;
        display: flex;
        gap: 15px;
        align-items: center;
        position: relative;
        margin: 0 10px 0 10px;
        border-radius: 5px;
      }
      &-icon {
        width: 16px;
        height: 16px;
        background: no-repeat center;
        &-home {
          background-image: url('/home.png');
        }
        &-folder {
          background-image: url('/folder.png');
        }
        &-briefcase {
          background-image: url('/briefcase.png');
        }
        &-help {
          background-image: url('/help-circle.png');
        }
        &-email {
          background-image: url('/email.png');
        }
        &-analytics {
          background-image: url('/analytics.png');
        }
      }
      &:hover > div:first-child, &-active > div:first-child {
        background: #F0F0F0;
        color: #1890FF;
        & > .sidebar-section-menu-item-icon-home {
          background-image: url('/home-active.png');
        }
        & > .sidebar-section-menu-item-icon-folder {
          background-image: url('/folder-active.png');
        }
        & > .sidebar-section-menu-item-icon-briefcase {
          background-image: url('/briefcase-active.png');
        }
        & > .sidebar-section-menu-item-icon-help {
          background-image: url('/help-circle-active.png');
        }
        & > .sidebar-section-menu-item-icon-email {
          background-image: url('/email-active.png');
        }
        & > .sidebar-section-menu-item-icon-analytics {
          background-image: url('/analytics-active.png');
        }
      }
      &-title {
        font-size: 12px;
      }
      &-arrow {
        & > div:first-child {
          border: none !important;
          background: #fff !important;
          &:after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background: url('/right.png') no-repeat center;
            background-size: contain;
            right: 15px;
          }
        }
        &-active {
          & > div:first-child {
            background: #F0F0F0 !important;
            &:after {
              transform: rotate(90deg);
            }
            & > .sidebar-section-menu-item-icon-email {
              background-image: url('/email-active.png');
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 950px) and (max-width: 1120px) {
  .sidebar-section {
    width: 63px;
    &-menu {
      &-list {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 100%;
        border-radius: 0 4px 4px 0;
        overflow: hidden;
        background: #fff;
        z-index: 20;
        box-shadow: 3px 0 5px 0 rgb(0 0 0 / 15%);
        width: 180px;
        padding: 10px 0 10px 0;
        margin-top: 0;
        &-item {
          padding: 0;
          font-size: 12px;
          &:hover, &-active {
            border: none;
          }
        }
      }
      &-item {
        &:hover > div:first-child, &-active > div:first-child {
          border: none;
        }
        & > div:first-child {
          padding: 0;
          display: block !important;
        }
        &-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
        &-title {
          display: none;
        }
        &-arrow {
          & > div:first-child:after {
            display: none;
          }
          &:hover > .sidebar-section-menu-list {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 950px) {
  .sidebar-section {
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 2;
    width: 300px;
    left: -150%;
    &-show {
      left: 0;
    }
    &-menu {
      margin-top: 0;
    }
  }
}
@media only screen and (max-width: 680px) {
  .sidebar-section {
    width: 100%;
  }
}
